.contactUsDiv {
  width: 100%;
  height: 70vh;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contactUsHeading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 50px;
  color: #18113a;
}

.contactUsDivRow {
  height: 60%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactUsColumn {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ocPeopleImageDiv {
  width: 50%;
  height: auto;
  border-radius: 100%;
}

.ocPeopleImageDiv img {
  width: 100%;
  height: auto;
  border-radius: 100%;
}

.nameDivContactUs {
  width: 80%;
  height: 50px;
  color: #18113a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nameDivContactUs h6 {
  text-align: center;
  font-size: 1.3rem;
  color: #18113a;
}

.roleDivContactUs {
  width: 80%;
  color: #18113a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roleDivContactUs p {
  text-align: center;
  font-size: 1rem;
  color: #18113a;
}

.phoneNumberDiv {
  width: 80%;
  color: #18113a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phoneNumberDiv p {
  text-align: center;
  font-size: 1rem;
  color: #18113a;
}

.emailDiv {
  width: 80%;
  color: #18113a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emailDiv p {
  text-align: center;
  font-size: 1rem;
  color: #18113a;
}

.contactUsHead {
  width: 93%;
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  .contactUsColumn {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .contactUsDiv {
    height: auto;
    padding-top: 50px;
  }
  .contactUsDivRow {
    flex-direction: column;
    height: auto;
  }

  .contactUsColumn {
    width: 100%;
    margin-bottom: 20px;
    height: auto;
  }

  .contactUsHeading {
    font-size: 2rem;
  }

  .nameDivContactUs,
  .roleDivContactUs,
  .phoneNumberDiv,
  .emailDiv {
    width: 100%;
  }
  .contactUsHead {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .shape {
    width: 85%;
  }
}
