.sponserDiv {
  width: 100%;
  height: 20vh;
  background: linear-gradient(to bottom, #F5F5F5, #F5F5F5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sponserHeading{
    font-size: 2.5rem;
    font-weight: 600;
    color: black;
    text-align: left;
    width: 100%;
}

.sponserContainor{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sponserComponentCarousel{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.sponserComponent{
    width: 16.67%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sponserComponent img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
