/* * {
  margin: 0;
  padding: 0;
}

#footerLink {
  transition-duration: 0.6s !important;
}
#footerRights {
  color: #782a84 !important;
}
#footerLogo {
  cursor: pointer;
}
#footerContainor{
  background: linear-gradient(to bottom, #18113a, #18113a)!important;
}

@media only screen and (max-width: 480px) {
  #footerLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #footerLogoDiv img {
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .contactUsColumn {
    width: 50%;
  }
} */

#footerDiv{
  border-top: 0.5px dashed white!important;
}

#footerLogos{
  z-index: +19!important;
  cursor: pointer!important;
}

#footerLink{
  transition-duration: 0.6s!important;
}

#footerLink:hover{
  transition-duration: 0.6s!important;
}